@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
#encabezado {
  background: linear-gradient(#391F67, #FFFFFF);
  margin: 0 auto;
  border-radius: 5px;
}
@media (min-width: 768px) {
  #encabezado header nav {
    position: static;
  }
}
#encabezado .logo {
  border-radius: 5px;
}
#encabezado #navbarNav ul li a {
  font-size: 20px;
  padding: 1rem;
}
#encabezado #navbarNav ul li a:hover {
  color: #F25C05;
}
#encabezado .redes i {
  padding: 4px;
  font-size: 25px;
  color: #3E2359;
}
#encabezado .redes a i:hover {
  color: #F25C05;
}
@media (max-width: 768px) {
  #encabezado .redes a i {
    display: none;
  }
}

#slider {
  margin: 15px;
}
#slider .carousel-item {
  width: 100%;
  height: max-content;
}
#slider img {
  border-radius: 25px;
}
#slider h5 {
  font-family: "Lobster", cursive;
  font-size: 25px;
  color: #F25C05;
}
#slider p {
  font-weight: bolder;
  color: #F25C05;
}

.titulo_cotizacion h1, .card-box h3, .start h2, .presentacion .quienes_somos, .titulo1, #encabezado #navbarNav ul li a {
  font-family: "Lobster", cursive;
  color: #DDEB44;
}

.staff_pasos {
  background-image: url(../../img/imagenFondo.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.presentacion .quienes_somos {
  font-size: 4rem;
}

#presentacion .services {
  padding-bottom: 20px;
}
#presentacion .services .icon_box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #391F67;
}
#presentacion .services .icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}
#presentacion .services .icon i {
  font-size: 36px;
  line-height: 1;
}
#presentacion .services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #3D2473;
}
#presentacion .services .description_color {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: #F27405;
}
#presentacion .services .description_color--2 {
  color: #8C4242;
}
#presentacion .services .icon_box-pink:hover {
  border-color: #ff689b;
}
#presentacion .services .icon_box-cyan:hover {
  border-color: #3fcdc7;
}
#presentacion .services .icon_box-green:hover {
  border-color: #41cf2e;
}
#presentacion .services .icon_box-blue:hover {
  border-color: #2282ff;
}

.start h2 {
  margin-bottom: 25px;
  position: relative;
  animation-name: animacion;
  animation-duration: 3s;
  animation-delay: 1s;
}
@keyframes animacion {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: -200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
.start .abrir-cuenta {
  font-family: "Lobster", cursive;
  color: #F25C05;
}
.start .abrir-cuenta a {
  font-family: "Lobster", cursive;
  border: solid 5px #F25C05;
  color: #3D2473;
}
.start .abrir-cuenta a:hover {
  background-color: #F25C05;
}

.pie-pagina {
  margin-top: 15px;
  height: 3rem;
  color: #8C4242;
  background-image: url(../../img/pexels-gradienta-7130564.jpg);
  background-size: cover;
}

.servicios {
  margin-top: 4rem;
  padding: 25px;
}

.card-box {
  border: 1px solid #3E2359;
  padding: 20px;
  box-shadow: 0px 0px 30px 0px #3D2473;
  margin-bottom: 30px;
  float: left;
  border-radius: 10px;
}
.card-box .card-thumbnail {
  max-height: 200px;
  overflow: hidden;
  border-radius: 10px;
  transition: 1s;
}
.card-box .card-thumbnail:hover {
  transform: scale(1.2);
}
.card-box h3 a {
  font-size: 20px;
  text-decoration: none;
}

#signup form {
  width: 17rem;
  margin: 25px auto;
  padding: 0;
  box-shadow: 10px 5px 5px black;
}

.contacto {
  background-image: url(../../img/contacto.jpg);
  background-size: contain;
}

.titulo2 {
  margin-top: 3rem;
}
.titulo2 .titulos_contacto {
  color: #F27200;
}

#signup form {
  background-color: #7a6999;
}
#signup form input {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  border: 2px;
  border-radius: 3px;
  width: 15rem;
  height: 2rem;
  padding: 20px;
}
#signup form select {
  padding: 0;
  height: 3rem;
  width: 15rem;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}
#signup form .btn {
  border: solid;
  border-radius: 3px;
  color: #391F67;
  background-color: #F27200;
}
#signup form .btn:focus {
  color: red;
}

#herramientas {
  background-image: url(../../img/operar-mobile-img.jpg);
  background-size: cover;
}

.titulo {
  background-color: transparent;
  color: white;
  border: 2px solid #F25C05;
  border-radius: 25px;
  margin: 20px;
}

.titulo--2 {
  margin: 25px;
  color: #F25C05;
}

.web h3 {
  margin: 25px;
}

.lista_1 {
  list-style-type: none;
}
.lista_1 li {
  margin-bottom: 50px;
  margin-left: 7px;
}
.lista_1 li i {
  color: #F25C05;
}

.lista_2 {
  list-style-type: none;
}
.lista_2 li {
  margin-bottom: 50px;
  margin-left: 7px;
  color: white;
}
.lista_2 li i {
  color: #F25C05;
}

.titulo_cotizacion {
  padding: 15px;
}
.titulo_cotizacion .texto {
  font-family: "Lobster";
  color: #F25C05;
  font-size: 20px;
}

.lista_criptos h3 {
  font-family: "Lobster";
  color: #F25C05;
}

.filas {
  border: solid 2px #F25C05;
  border-radius: 5px;
  margin: 20px auto;
  padding: 5px;
}

.logos img {
  width: 6rem;
  padding: 8px;
}

.precio, .venta, .increase, .decrease {
  padding: 8px;
  text-align: center;
}

.increase {
  color: #198754;
}

.decrease {
  color: #dc3545;
}

/*# sourceMappingURL=style.css.map */
