@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap");
body {
  background-image: url(../../img/ocean-3605547_1920.jpg);
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #669996;
  padding: 0;
}

#slider .carousel-inner {
  height: 40rem;
}
#slider img {
  width: 100%;
  height: 100%;
  border-radius: 25px;
}
#slider h5 {
  font-family: "Lobster", cursive;
  font-size: 50px;
  color: #F25C05;
  text-shadow: 1px 3px black;
}
#slider p {
  font-size: 25px;
}

@media (max-width: 768px) {
  #carouselExampleControls {
    display: none;
  }
}

.contactogit {
  height: 100vh;
}

#signup form {
  width: 17rem;
  margin: 25px auto;
  padding: 0;
  box-shadow: 10px 5px 5px black;
}

#signup form {
  background-color: #7a6999;
}
#signup form input {
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
  border: 2px;
  border-radius: 3px;
  width: 15rem;
  height: 2rem;
  padding: 20px;
}
#signup form select {
  padding: 0;
  height: 3rem;
  width: 15rem;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat", sans-serif;
}
#signup form .btn {
  border: solid;
  border-radius: 3px;
  color: #391F67;
  background-color: #F27200;
}
#signup form .btn:focus {
  color: red;
}

.titulo_cotizacion {
  padding: 15px;
}
.titulo_cotizacion .texto {
  font-family: "Lobster";
  color: #F25C05;
  font-size: 25px;
  text-shadow: 2px 2px black;
}

.lista_criptos h3 {
  font-family: "Lobster";
  color: #F25C05;
  font-size: 32px;
  text-shadow: 2px 2px black;
}
.lista_criptos strong {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

.filas {
  border: solid 2px #dc3545;
  border-radius: 5px;
  margin: 20px auto;
  padding: 5px;
}

.logos img {
  width: 6rem;
  padding: 8px;
}

.precio, .venta, .increase, .decrease {
  padding: 8px;
  text-align: center;
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}

.increase {
  color: #198754;
}

.decrease {
  color: #dc3545;
}

@media (max-width: 768px) {
  .lista_criptos h3 {
    font-size: 20px;
  }
}
@media (max-width: 768px) {
  .precio p, .venta p, .increase p, .decrease p {
    font-size: 13px;
  }
}
#encabezado {
  background: transparent;
  box-shadow: 0px 0px 15px 0px #F25C05;
  border: 3px solid #F25C05;
  margin: 0 auto;
  border-radius: 5px;
}
@media (max-width: 991px) {
  #encabezado .navbar-toggler {
    background-image: url(../../img/menuHamburgesa.png);
    background-size: cover;
    background-position: center center;
  }
}
#encabezado .logo {
  box-shadow: 0px 0px 15px 0px #F25C05;
  border: 3px solid #F25C05;
}
#encabezado #navbarNav ul li a {
  font-size: 30px;
  padding: 1rem;
}
#encabezado #navbarNav ul li a:hover {
  color: #F25C05;
}
#encabezado .redes i {
  padding: 4px;
  font-size: 25px;
  color: #DDEB44;
}
#encabezado .redes a i:hover {
  color: #F25C05;
}
@media (max-width: 1058px) {
  #encabezado .redes a i {
    display: none;
  }
}

.pie-pagina {
  padding: 1rem;
  box-shadow: 0px 0px 15px 0px #F25C05;
  border: 3px solid #F25C05;
  border-radius: 3px;
  margin-top: 15px;
  width: 100%;
  width: 100%;
}
.pie-pagina .derechos {
  color: #F25C05;
}
.pie-pagina .derechos p {
  margin: 5px;
}
.pie-pagina .redes i {
  padding: 4px;
  font-size: 25px;
  color: #DDEB44;
}
.pie-pagina .redes a i:hover {
  color: #F25C05;
}

.titulo {
  margin-top: 15px;
}

.titulo--2 {
  font-family: "Lobster";
  color: #F25C05;
  font-size: 25px;
  text-shadow: 2px 2px black;
}

.web h3, .app h3 {
  margin: 25px;
  color: #F25C05;
  font-size: 25px;
  text-shadow: 2px 2px black;
}

.lista_1 {
  list-style-type: none;
}
.lista_1 li {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
  margin: 2px;
}
.lista_1 li i {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
  margin: 4px;
}

.lista_2 {
  list-style-type: none;
}
.lista_2 li {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
  margin: 2px;
}
.lista_2 li i {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
  margin: 4px;
}

.app .carousel-item {
  height: 40rem;
  width: 20rem;
  min-height: 300px;
  padding: 0;
  margin: 0;
}
.app img {
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

@media (max-width: 768px) {
  .row ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-end;
  }

  .app .carousel2 {
    display: none;
  }
}
.card-box h3, .servicios .titulo_servicios, .start h2, .presentacion .quienes_somos, .titulo1, #slider p, .titulo2, .titulo2 .titulos_contacto, .titulo_cotizacion h1, #encabezado #navbarNav ul li a, .titulo {
  font-family: "Lobster", cursive;
  color: #DDEB44;
  text-shadow: 1px 1px black;
}

.staff_pasos {
  margin: 0;
  padding: 0;
  width: 98%;
}

.presentacion p {
  color: #F27405;
  font-size: 1, 5rem;
  font-weight: bolder;
}
.presentacion .quienes_somos {
  font-size: 4rem;
}

#presentacion .services {
  padding-bottom: 20px;
}
#presentacion .services .icon_box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  margin: 0 0 40px 0;
  background: #fff;
  box-shadow: 0px 0px 15px 0px #F25C05;
  transition: all 0.3s ease-in-out;
  text-align: center;
  border: 1px solid #391F67;
}
#presentacion .services .icon {
  margin: 0 auto 20px auto;
  padding-top: 17px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 72px;
  height: 72px;
}
#presentacion .services .icon i {
  font-size: 36px;
  line-height: 1;
}
#presentacion .services .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  color: #3D2473;
}
#presentacion .services .description_color {
  font-size: 15px;
  line-height: 28px;
  margin-bottom: 0;
  color: #F27405;
}
#presentacion .services .description_color--2 {
  color: #8C4242;
}
#presentacion .services .icon_box-pink:hover {
  border-color: #ff689b;
  transform: scale(1.1, 1.1);
}
#presentacion .services .icon_box-cyan:hover {
  border-color: #3fcdc7;
  transform: scale(1.1, 1.1);
}
#presentacion .services .icon_box-green:hover {
  border-color: #41cf2e;
  transform: scale(1.1, 1.1);
}
#presentacion .services .icon_box-blue:hover {
  border-color: #2282ff;
  transform: scale(1.1, 1.1);
}

.start h2 {
  margin-bottom: 25px;
  position: relative;
  animation-name: animacion;
  animation-duration: 3s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
}
@keyframes animacion {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    left: -200px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
@media (max-width: 768px) {
  .start h2 {
    animation-iteration-count: 1;
  }
}
.start .abrir-cuenta {
  margin: 0px;
  padding: 7px;
  font-family: "Lobster", cursive;
  font-size: 20px;
  color: #DDEB44;
  text-shadow: 1px 1px black;
}
.start .abrir-cuenta a {
  font-family: "Lobster", cursive;
  border: solid 5px #F25C05;
  color: #3D2473;
  text-shadow: 1px 1px black;
}
.start .abrir-cuenta a:hover {
  background-color: #F25C05;
}

.servicios {
  margin-top: 2rem;
  padding: 25px;
}
.servicios .titulo_servicios {
  margin-bottom: 15px;
  padding: 3px;
}

.card-box {
  border: 3px solid #F25C05;
  padding: 20px;
  box-shadow: 0px 0px 15px 0px #F25C05;
  margin-bottom: 30px;
  float: left;
  border-radius: 10px;
}
.card-box .texto_card {
  color: white;
  font-size: 20px;
  text-shadow: 2px 2px black;
}
.card-box h3 {
  color: #F25C05;
}
.card-box .card-thumbnail {
  max-height: 200px;
  overflow: hidden;
  border-radius: 10px;
  transition: 1s;
}
.card-box .card-thumbnail:hover {
  transform: scale(1.2);
}
.card-box h3 a {
  font-size: 20px;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
