body{
    background-image: url(../../img/ocean-3605547_1920.jpg);
    height: 100%; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-attachment: fixed;
    background-color: #669996;
    padding: 0;
}