#slider{
    margin: 15px;
    img{
        border-radius: 25px;
    }
    h5{
        font-size: 25px;
        color: #F27405;
    }
    p{
        font-weight: bolder;
        color: #F25C05;
    }
}