$font_color: #F25C05;


#slider{
    
    margin: 15px;
    img{ height: 500px;
        width: 300px;
        
        border-radius: 25px;
    }
    h5{
        font-family: 'Lobster', cursive;
        font-size: 25px;
        color: $font_color;
    }
    p{
        font-weight: bolder;
        color: $font_color;
    }
}