// Import
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');


@mixin borde($border, $radius){
    border: $border;
    border-radius: $radius;
    width: 15rem;
    height: 2rem;
    padding: 20px;
}
@mixin borde-btn($border, $radius, $color){
    border: $border;
    border-radius: $radius;
    color: $color;
    background-color: $light-color;
    
}




%form{
    width: 17rem;
    margin: 25px auto;
    padding: 0;
    box-shadow: 10px 5px 5px black;
        
}
// Variables
$light-color: #F27200;
$dark-color: #391F67;
$gray-color: #BBB2CB;
$main-font: 'Montserrat', sans-serif;
.contacto{
    background-image: url(../../img/contacto.jpg);
    background-size: contain;
}

.titulo2{
        margin-top: 3rem;

    .titulos_contacto{
        color: $light-color;
        
    }
}
    
#signup{
    
    form{
        @extend %form;
        background-color:  mix($dark-color, $gray-color);
        input  {
            margin-top: 12px;
            margin-bottom: 12px;
            margin-left: auto;
            margin-right: auto;
            font-family: $main-font;
            @include borde(2px,3px )
        }
        select{
            padding: 0;
            height: 3rem;
            width: 15rem;
            margin-top: 12px;
            margin-bottom: 12px;
            margin-left: auto;
            margin-right: auto;
            font-family: $main-font;
            
        }
        .btn{
            @include borde-btn(solid,3px , $dark-color );
            
            
        }
        .btn:focus{
            color: red;
            
        }
         
        
    }
    
}
