

.titulo_cotizacion{
    
    padding: 15px;
    h1{
        @extend %estilo_titulos;
        
    }

    

    .texto{
        font-family: 'Lobster';
        color: $font_color;
        font-size: 25px;
        text-shadow: 2px 2px black
    }
}
.lista_criptos{
    h3{
        font-family: 'Lobster';
        color: $font_color;
        font-size: 32px;
        text-shadow: 2px 2px black
    }
    strong{
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px black;
    }
}
.filas{
    border: solid 2px #dc3545;
    border-radius: 5px;
    margin: 20px auto;
    padding: 5px;
}
.logos{
    img{
        width: 6rem;
        padding: 8px
        ;
    };
}
.precio , .venta , .increase, .decrease{
        padding: 8px;
        text-align: center;
        color: white;
        font-size: 20px;
        text-shadow: 2px 2px black
}


.increase{
    color: #198754
}
.decrease{
    color: #dc3545;
}
@media (max-width: 768px){
    .lista_criptos h3{
        font-size: 20px;
    }
}
@media (max-width: 768px){
    .precio p , .venta p , .increase p , .decrease p {
        font-size: 13px;
    }
}
