

.titulo_cotizacion{

    .texto{
        color: tomato;
    }
}
.filas{
    border: solid 2px $color2;
    border-radius: 5px;
    margin: 0 auto;
    padding: 5px;
}
.logos{
    img{
        width: 6rem;
        padding: 8px
        ;
    };
}
.precio , .venta , .increase, .decrease{
    padding: 8px;
    text-align: center;
    
}


.increase{
    color: #198754
}
.decrease{
    color: #dc3545;
}