.pie-pagina{
    padding: 1rem;
    box-shadow: 0px 0px 15px 0px #F25C05;
    border: 3px solid #F25C05;
    border-radius: 3px;
    margin-top: 15px;
    position:absolute;
    
    bottom: 0;
    width: 100%;
    .derechos{
        color: #F25C05;
        p{
            margin: 5px;
        }
    }
    .redes i{
        padding: 4px;
        font-size: 25px;
        color: #DDEB44;

    }
    .redes a i:hover{
        color: #F25C05;
    }
   

}   
     
    
 

