$color1: white;
$color2: #F25C05;

.titulo{
    @extend %estilo_titulos;
    margin-top: 15px;
}
.titulo--2{
    font-family: 'Lobster';
        color: $font_color;
        font-size: 25px;
        text-shadow: 2px 2px black;
}

.web , .app{
    h3{
        margin: 25px;
        color: $font_color;
        font-size: 25px;
        text-shadow: 2px 2px black;
        
    }
    
}

.lista_1{
    list-style-type:none;
    li{
            color: white;
            font-size: 20px;
            text-shadow: 2px 2px black;
            margin: 2px;
        
        i{ color: white;
            font-size: 20px;
            text-shadow: 2px 2px black;
            margin: 4px;
           
        
        }
    
    }
    
}
.lista_2{
    list-style-type:none;
    li{
        color: white;
            font-size: 20px;
            text-shadow: 2px 2px black;
            margin: 2px;
        
        i{ color: white;
            font-size: 20px;
            text-shadow: 2px 2px black;
            margin: 4px;
        
        }
    
    }
}

   
 


.app{
    .carousel-item{
        height: 40rem;
        width: 20rem;
        min-height: 300px;
        padding: 0;
        margin: 0;
    }
    img{
        border-radius: 5px;
        height: 100%;
        width: 100%
    };
}
@media (max-width: 768px){
    .row ul{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        align-items: flex-end;
    }
    .app .carousel2{
        display: none;
    }
}