$color: #F27405;
$color2: #8C4242;
$font_color: #F25C05;
%estilo_titulos {
   font-family: 'Lobster', cursive;
   color:  #DDEB44;
   text-shadow: 1px 1px black
}

  

.staff_pasos{
    
    margin: 0;
    padding: 0;
    width: 98%
    
}
.titulo1{
  @extend %estilo_titulos;
}
.presentacion{
  p{
    color: $color;
    font-size: 1,5rem;
    font-weight: bolder
  }
    .quienes_somos {
      @extend %estilo_titulos;
      font-size: 4rem;
      
}
}


#presentacion{
    .services {
        padding-bottom: 20px;
      }
      
      .services .icon_box {
        padding: 30px;
        position: relative;
        overflow: hidden;
        margin: 0  0 40px 0;
        background: #fff;
        box-shadow: 0px 0px 15px 0px #F25C05;
        transition: all 0.3s ease-in-out;
        text-align: center;
        border: 1px solid #391F67;
      }
      
      .services .icon {
        margin: 0 auto 20px auto;
        padding-top: 17px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 72px;
        height: 72px;
      }
      
      .services .icon i {
        font-size: 36px;
        line-height: 1;
      }
      
      .services .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
        color: #3D2473;
      }
      
      .services .description_color {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 0;
        color: $color;
      }
      .services .description_color--2 {
        
        color: $color2;
      }
    
      .services .icon_box-pink:hover {
        border-color: #ff689b;
        
        transform: scale(1.1, 1.1);
      }

      .services .icon_box-cyan:hover {
        border-color: #3fcdc7;
        transform: scale(1.1, 1.1)
      }
      
      .services .icon_box-green:hover {
        border-color: #41cf2e;
        transform: scale(1.1, 1.1)
      }
      
      .services .icon_box-blue:hover {
        border-color: #2282ff;
        transform: scale(1.1, 1.1)
      }
      
}

.start{
    h2{
        @extend %estilo_titulos;
        margin-bottom: 25px;
        position: relative;
        animation-name: animacion;
        animation-duration: 3s;
        animation-delay: 1s;
        animation-iteration-count: infinite ;
        
        @keyframes animacion {
            0%   { left:0px; top:0px;}
            25%  { left:200px; top:0px;}
            50%  { left:-200px; top:0px;}
            100% { left:0px; top:0px;}
            
        }
        @media (max-width: 768px) {
          animation-iteration-count: 1;
        }
            
    }

    .abrir-cuenta{
      margin: 0px;
      padding: 7px;
      font-family: 'Lobster', cursive;
      font-size: 20px;
      color:  #DDEB44;
      text-shadow: 1px 1px black;
        a{
          font-family: 'Lobster', cursive;
        border: solid 5px #F25C05;
        color: #3D2473;
        text-shadow: 1px 1px black;
        }
    }
    .abrir-cuenta a:hover{
        background-color: #F25C05;
        
    }
    
    
}
