.start{
    h2{
        color: #3E2359;
        margin-bottom: 25px;
        position: relative;
        animation-name: animacion;
        animation-duration: 3s;
        animation-delay: 1s;
        
        @keyframes animacion {
            0%   { left:0px; top:0px;}
            25%  { left:200px; top:0px;}
            50%  { left:-200px; top:0px;}
            100% { left:0px; top:0px;}
            
        }
            
    }
    .abrir-cuenta a{
        border: solid 5px #F25C05;
        color: #3D2473;
    }
    .abrir-cuenta a:hover{
        background-color: #F25C05;
        
    }
    
    
}
