$color: #F27405;
$color2: #8C4242;
$font_color: #F25C05;
%estilo_titulos {
   font-family: 'Lobster', cursive;
   color:  #DDEB44;
}

.staff_pasos{
    background-image: url(../../img/imagenFondo.png);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.titulo1{
  @extend %estilo_titulos;
}
.presentacion{
  
    .quienes_somos {
      @extend %estilo_titulos;
      font-size: 4rem;
}
}


#presentacion{
    .services {
        padding-bottom: 20px;
      }
      
      .services .icon_box {
        padding: 30px;
        position: relative;
        overflow: hidden;
        margin: 0  0 40px 0;
        background: #fff;
        box-shadow: 0 5px 26px 0 rgba(68, 88, 144, 0.14);
        transition: all 0.3s ease-in-out;
        text-align: center;
        border: 1px solid #391F67;
      }
      
      .services .icon {
        margin: 0 auto 20px auto;
        padding-top: 17px;
        display: inline-block;
        text-align: center;
        border-radius: 50%;
        width: 72px;
        height: 72px;
      }
      
      .services .icon i {
        font-size: 36px;
        line-height: 1;
      }
      
      .services .title {
        font-weight: 700;
        margin-bottom: 15px;
        font-size: 18px;
        color: #3D2473;
      }
      
      .services .description_color {
        font-size: 15px;
        line-height: 28px;
        margin-bottom: 0;
        color: $color;
      }
      .services .description_color--2 {
        
        color: $color2;
      }
    
      .services .icon_box-pink:hover {
        border-color: #ff689b;
      }

      .services .icon_box-cyan:hover {
        border-color: #3fcdc7;
      }
      
      .services .icon_box-green:hover {
        border-color: #41cf2e;
      }
      
      .services .icon_box-blue:hover {
        border-color: #2282ff;
      }
      
}

.start{
    h2{
        @extend %estilo_titulos;
        margin-bottom: 25px;
        position: relative;
        animation-name: animacion;
        animation-duration: 3s;
        animation-delay: 1s;
        
        @keyframes animacion {
            0%   { left:0px; top:0px;}
            25%  { left:200px; top:0px;}
            50%  { left:-200px; top:0px;}
            100% { left:0px; top:0px;}
            
        }
            
    }

    .abrir-cuenta{
      font-family: 'Lobster', cursive;
      color: #F25C05;
        a{
          font-family: 'Lobster', cursive;
        border: solid 5px #F25C05;
        color: #3D2473;
        }
    }
    .abrir-cuenta a:hover{
        background-color: #F25C05;
        
    }
    
    
}
