.titulo{
    margin: 20px;
}
.servicios{
    .card{
        margin: 15px;
        border: solid 5px #F27405;
        img{
            margin: 4px;
            padding: 1rem;
            background-color: #3D2473;
        }
        p a {
            text-decoration: none;
        }
        @media (max-width: 768px) {
           p {display: none;
            
           }
        }
    }

}